<!-- Page Content -->
<div class="container">
    <h1 class="title text-center">Washington, DC
        <small style="font-size:0.6em;color:rgb(95, 93, 93)">Live locations</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col shadow p-3 mb-5 bg-white rounded">
            {{> map}}
        </div>
    </div>
    <br> {{!-- available trucks list --}}
    <h4>
        <span>
            <i class="material-icons">
                local_shipping
            </i>
        </span>
        <span>Available Food Trucks:</span>
    </h4>
    <hr>
    <div class="row" id="truckList">

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->