<!-- Page Content -->
<div class="container">

    <h1 class="title text-center">Washington DC Food Trucks
        <small>Today's Locations</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col">
            {{> map}}
        </div>
    </div>
    <br> {{!-- available trucks list --}}
    <h4>Availabe Food Trucks:</h4>
    <hr>
    <div class="row" id="truckList">

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->