<div class="container">
    <div class="row h-100 justify-content-center">
        <div class="col-md-8 align-self-center my-5">
            <h1 class="text-center">Log-in</h1>
            <div class="text-center">
                Don't have an account?
                <a href="/signup">
                    <b>Sign-up now!</b>
                </a> it's free :)
                <br>
                <hr>
            </div>
            <form method="POST" class="login">
                <div class="form-group">
                    <label for="inputEmail" class="badge-pill">Email address:</label>
                    <input type="email" class="form-control badge-pill" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="inputPassword1" class="badge-pill">Password:</label>
                    <input type="password" class="form-control badge-pill" id="inputPassword" placeholder="Choose a password">
                </div>
                <hr>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary custom-btn rounded">&nbsp;&nbsp;Log in&nbsp;&nbsp;</button>
                </div>
            </form>


        </div>
    </div>

</div>