<div class="container">
    <div class="row h-100 justify-content-center">
        <div class="col-md-8 align-self-center my-5">
            <h1 class="text-center">Sign Up</h1>
            <form method="POST" class="truckSignup">
                <div class="form-group">
                    <label for="name">Customer Name</label>
                    <input type="text" class="form-control" id="ownerName" placeholder="Enter name" />
                </div>
                <div class="form-group">
                    <label for="name">Truck Name</label>
                    <input type="text" class="form-control" id="truckName" placeholder="Enter Truck name" />
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="inputPassword1">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Choose a password">
                </div>
                <div class="form-group">
                    <label for="truckDesc">Truck Descriptions</label>
                    <textarea class="form-control" id="truckDesc" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="foodCategory">Food Type</label>
                    <input type="text" class="form-control" id="foodCategory" />
                </div>
                <div class="form-group">
                    <label for="license">License Plate</label>
                    <input type="text" class="form-control" id="license" />
                </div>
                <div class="form-group">
                    <label for="pictureUrl">Photo Link</label>
                    <input type="text" class="form-control" id="pictureUrl" />
                </div>
                <div class="form-group">
                    <label for="menuUrl">Menu Link</label>
                    <input type="text" class="form-control" id="menuUrl" />
                </div>
                <h2>Social Media Info</h2>
                <div class="form-group">
                    <label for="facebookID">Facebook</label>
                    <input type="text" class="form-control" id="facebookID" placeholder="facebook ID" />
                </div>
                <div class="form-group">
                    <label for="twitterHandle">Twitter</label>
                    <input type="text" class="form-control" id="twitterHandle" placeholder="Twitter Handle" />
                </div>
                <div class="form-group">
                    <label for="instagramHandle">Instagram</label>
                    <input type="text" class="form-control" id="instagramHandle" placeholder="Instagram Handle" />
                </div>
                <button type="submit" class="btn btn-primary custom-btn">Sign up</button>
            </form>
        </div>
    </div>
</div>