<div class="container">
    <div class="row h-100 justify-content-center">
        <div class="col-md-8 align-self-center my-5">
            <h1 class="text-center">Sign Up</h1>
            <form method="POST" class="truckSignup">
                <div class="form-group">
                    <label class="badge-pill" for="name">Customer Name</label>
                    <input type="text" class="form-control badge-pill" id="ownerName" placeholder="Enter name" />
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="name">Truck Name</label>
                    <input type="text" class="form-control badge-pill" id="truckName" placeholder="Enter Truck name" />
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="inputEmail">Email address</label>
                    <input type="email" class="form-control badge-pill" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="inputPassword1">Password</label>
                    <input type="password" class="form-control badge-pill" id="inputPassword" placeholder="Choose a password">
                </div>
                <div class="form-group">
                    <label for="truckDesc">Truck Descriptions</label>
                    <textarea class="form-control" id="truckDesc" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="foodCategory">Food Type</label>
                    <input type="text" class="form-control badge-pill" id="foodCategory" />
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="license">License Plate</label>
                    <input type="text" class="form-control badge-pill" id="license" />
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="pictureURL">Photo Link</label>
                    <input type="text" class="form-control badge-pill" id="pictureURL" />
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="menuURL">Menu Link</label>
                    <input type="text" class="form-control badge-pill" id="menuURL" />
                </div>
                <h2>Social Media Info</h2>
                <div class="form-group">
                    <label class="badge-pill" for="facebookID">Facebook</label>
                    <input type="text" class="form-control badge-pill" id="facebookID" placeholder="facebook ID" />
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="twitterHandle">Twitter</label>
                    <input type="text" class="form-control badge-pill" id="twitterHandle" placeholder="Twitter Handle" />
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="instagramHandle">Instagram</label>
                    <input type="text" class="form-control badge-pill" id="instagramHandle" placeholder="Instagram Handle" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary custom-btn rounded">&nbsp;&nbsp;Sign me up!&nbsp;&nbsp;</button>
                </div>
            </form>
        </div>
    </div>
</div>