<div class="container">
    <div class="row h-100 justify-content-center">
        <div class="col-md-8 align-self-center my-5">
            <h1 class="text-center">Sign-up</h1>
            <div class="text-center">
                Are you a
                <u>
                    <i>Food-Truck owner</i>
                </u>?
                <a href="/signupTruck">
                    <b>Sign-up here</b>
                </a> for your own business account!
                <br>
                <hr>
            </div>

            <form method="POST" class="signup">
                <div class="form-group">
                    <label for="name" class="badge-pill">Your Name</label>
                    <input type="text" class="form-control badge-pill" id="inputName" placeholder="Enter name" />
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="badge-pill">Email address</label>
                    <input type="email" class="form-control badge-pill" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="inputPassword1" class="badge-pill">Password</label>
                    <input type="password" class="form-control badge-pill" width="10" id="inputPassword" placeholder="Choose a password">
                </div>
                <hr>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary custom-btn rounded">&nbsp;&nbsp;Sign me up!&nbsp;&nbsp;</button>
                </div>
            </form>
        </div>
    </div>
</div>