<h1>
    truckOwnerProfile page!</h1>
truck name: {{truck.truckName}}


<button id="locationBtn" class="btn btn-success">update location</button>
<div class="row my-3">
    <div class="col-md-12">
        <div class="col">
            <a href="/truckProfileUpdate">Update your account</a>
        </div>
    </div>
</div>

{{> tpScript}}