<div class="container">
    <div class="row h-100 justify-content-center">
        <div class="col-md-8 align-self-center my-5">
            <h1 class="text-center">Update your profile</h1>
            <hr>
            <form method="PUT" class="truckUpdate">
                <h2>User Info</h2>
                <div class="form-group">
                    <label class="badge-pill" for="ownerName">Your Name</label>
                    <input type="text" class="form-control badge-pill" id="ownerName" placeholder="Enter name" />
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="inputEmail">Email address</label>
                    <input type="email" class="form-control badge-pill" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <hr>
                <h2>Truck Info</h2>
                <div class="form-group">
                    <label class="badge-pill" for="name">Truck Name</label>
                    <input type="text" class="form-control badge-pill" id="truckName" placeholder="Enter Truck name" />
                </div>
                <div class="form-group">
                    <label for="truckDesc">Truck Descriptions</label>
                    <textarea class="form-control" id="truckDesc" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="foodCategory">Food Type</label>
                    <input type="text" class="form-control badge-pill" id="foodCategory" />
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="license">License Plate</label>
                    <input type="text" class="form-control badge-pill" id="license" />
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="pictureUrl">Photo Link</label>
                    <input type="text" class="form-control badge-pill" id="pictureUrl" />
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="menuUrl">Menu Link</label>
                    <input type="text" class="form-control badge-pill" id="menuUrl" />
                </div>
                <hr>
                <h2>Social Media Info</h2>
                <div class="form-group">
                    <label class="badge-pill" for="facebookID">Facebook</label>
                    <input type="text" class="form-control badge-pill" id="facebookID" placeholder="facebook ID" />
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="twitterHandle">Facebook</label>
                    <input type="text" class="form-control badge-pill" id="twitterHandle" placeholder="Twitter Handle" />
                </div>
                <div class="form-group">
                    <label class="badge-pill" for="instagramHandle">Instagram</label>
                    <input type="text" class="form-control badge-pill" id="instagramHandle" placeholder="Instagram Handle" />
                </div>
                <hr>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary custom-btn rounded">&nbsp;&nbsp;Update profile!&nbsp;&nbsp;</button>
                </div>
            </form>
        </div>
    </div>
</div>