<header class="content">
    <h1 class="text-center mt-5">Welcome to your profile page {{user.name}}</h1>
</header>
<div class="container h-100">
    <div class="row h-100">
        <div class="col-md-12">
            <h2>Select your favorite food trucks</h2>

            <form>
                <div class="form-check">
                    <label class="form-check-label" for="check1">
                        <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>Fiesta
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">A Taste of Italy
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" disabled>Fish and Chips
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="check1">
                        <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>The Big Burger
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Option 2
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" disabled>Option 3
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
    <div class="row my-3">
        <div class="col-md-12">
            <div class="col">
                <a href="/userProfileUpdate">Update your account</a>
            </div>
        </div>
    </div>

</div>



    <!--email: {{user.email}}-->


