<div class="container h-100">
    <div class="row h-100 justify-content-center">
        <div class="col-md-8 align-self-center my-5">
            <h1 class="text-center">Update your profile</h1>
            <hr>
            <form method="PUT" class="userUpdate">
                <div class="form-group">
                    <label for="name" class="badge-pill">Your Name:</label>
                    <input type="text" class="form-control badge-pill" id="inputName" placeholder="Enter name" />
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="badge-pill">Email address:</label>
                    <input type="email" class="form-control badge-pill" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <hr>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary custom-btn rounded">&nbsp;&nbsp;Update!&nbsp;&nbsp;</button>
                </div>
            </form>
        </div>
    </div>
</div>