<header class="content">
    <h1 class="text-center mt-5">Welcome to your profile page {{user.name}}</h1>
</header>
<div class="container h-100">
    <div class="row h-100">
        <div class="col-md-12">
            <h3>Upcoming Features On the Way.</h3>
            <p>We'll email you the details and keep you inform on future developments.</p>

        </div>

    </div>
    <div class="row my-3">
        <div class="col-md-12">
            <div class="col">
                <a href="/userProfileUpdate">Update your account</a>
            </div>
        </div>
    </div>

</div>



    <!--email: {{user.email}}-->


